
LitBot/LitBot/obj/Debug/LitBot.pdb
LitBot/LitBot/obj/Debug/LitBot.exe
LitBot/LitBot/obj/Debug/LitBot.csprojResolveAssemblyReference.cache
LitBot/LitBot/obj/Debug/LitBot.csproj.FileListAbsolute.txt
LitBot/LitBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LitBot/LitBot/bin/Debug/LitBot.vshost.exe.manifest
LitBot/LitBot/bin/Debug/LitBot.vshost.exe
LitBot/LitBot/bin/Debug/LitBot.pdb
LitBot/LitBot/bin/Debug/LitBot.exe
